{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medecin creation</h1>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('medecin_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>



{% endblock %}

    {% block javascripts %}
        <script src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx4U0wGOGkj2jDW6PPIjACGl8O8YqTKhY&libraries=places"></script>

        <script>
            var options = {
//                types: ['(regions)'],
                componentRestrictions: {country: 'tn'}
            };
            var input = document.getElementById('medical_medecinbundle_medecin_adresse');
            autocomplete = new google.maps.places.Autocomplete(input,options);

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                if (place.geometry.viewport) {
                    geomap.fitBounds(place.geometry.viewport);
                } else {
                    geomap.setCenter(place.geometry.location);
                    geomap.setZoom(17);
                }
            });


        </script>


    {% endblock %}