{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medecin creation</h1>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('medecin_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
